<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<div class="footer" th:fragment="base_footer">
    <div class="container">
        <div class="row align-items-center g-0 border-top py-2">
            <!-- Desc -->
            <div class="col-md-6 col-12 text-center text-md-start">
                <span>© 2022 PROG<span class="ramm">RAMM</span>ER. Все права защищены.</span>
            </div>
            <!-- Links -->
            <div class="col-12 col-md-6">
                <nav class="nav nav-footer justify-content-center justify-content-md-end">
                    <a class="nav-link" th:href="@{/proger/feedback}">Обратная связь</a>
                </nav>
            </div>
        </div>
    </div>
</div>

</html>