<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="base_head">
    <base th:href="@{/proger}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css}" rel="stylesheet">


    <!-- Libs CSS -->

    <link th:href="@{css/feather.css}" rel="stylesheet">
    <link th:href="@{css/all.min.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{css/dragula.min.css}" rel="stylesheet">
    <link th:href="@{css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{css/dropzone.css}" rel="stylesheet">
    <link th:href="@{css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{css/tagify.css}" rel="stylesheet">
    <link th:href="@{css/tiny-slider.css}" rel="stylesheet">
    <link th:href="@{css/tippy.css}" rel="stylesheet">
    <link th:href="@{css/dataTables.bootstrap5.min.css}" rel="stylesheet">
    <link th:href="@{css/prism-okaidia.css}" rel="stylesheet">
    <link th:href="@{css/box-shadows.min.css}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{css/theme.min.css}">
    <title>PROGrammER</title>

    <!--    Thymeleaf linck-->


</head>

</html>