<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Scripts -->
<!-- Libs JS -->
<div th:fragment="base_script">
    <script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script src="../static/js/odometer.min.js" th:src="@{js/odometer.min.js}"></script>
    <script src="../static/js/jquery.slimscroll.min.js" th:src="@{js/jquery.slimscroll.min.js}"></script>
    <script src="../static/js/jquery.magnific-popup.min.js" th:src="@{js/jquery.magnific-popup.min.js}"></script>
    <script src="../static/js/bootstrap-select.min.js" th:src="@{js/bootstrap-select.min.js}"></script>
    <script src="../static/js/flatpickr.min.js" th:src="@{js/flatpickr.min.js}"></script>
    <script src="../static/js/jquery.inputmask.min.js" th:src="@{js/jquery.inputmask.min.js}"></script>
    <script src="../static/js/apexcharts.min.js" th:src="@{js/apexcharts.min.js}"></script>
    <script src="../static/js/quill.min.js" th:src="@{js/quill.min.js}"></script>
    <script src="../static/js/file-upload-with-preview.min.js"
            th:src="@{js/file-upload-with-preview.min.js}"></script>
    <script src="../static/js/dragula.min.js" th:src="@{js/dragula.min.js}"></script>
    <script src="../static/js/bs-stepper.min.js" th:src="@{js/bs-stepper.min.js}"></script>
    <script src="../static/js/dropzone.min.js" th:src="@{js/dropzone.min.js}"></script>
    <script src="../static/js/jQuery.print.js" th:src="@{js/jQuery.print.js}"></script>
    <script src="../static/js/prism.js" th:src="@{js/prism.js}"></script>
    <script src="../static/js/prism-scss.min.js" th:src="@{js/prism-scss.min.js}"></script>
    <script src="../static/js/tagify.min.js" th:src="@{js/tagify.min.js}"></script>
    <script src="../static/js/tiny-slider.js" th:src="@{js/tiny-slider.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{js/popper.min.js}"></script>
    <script src="../static/js/tippy-bundle.umd.min.js" th:src="@{js/tippy-bundle.umd.min.js}"></script>
    <script src="../static/js/typed.min.js" th:src="@{js/typed.min.js}"></script>
    <script src="../static/js/jsvectormap.min.js" th:src="@{js/jsvectormap.min.js}"></script>
    <script src="../static/js/world.js" th:src="@{js/world.js}"></script>
    <script src="../static/js/jquery.dataTables.min.js" th:src="@{js/jquery.dataTables.min.js}"></script>
    <script src="../static/js/dataTables.bootstrap5.min.js" th:src="@{js/dataTables.bootstrap5.min.js}"></script>
    <script src="../static/js/dataTables.responsive.min.js" th:src="@{js/dataTables.responsive.min.js}"></script>
    <script src="../static/js/responsive.bootstrap5.min.js" th:src="@{js/responsive.bootstrap5.min.js}"></script>
    <script src="../static/js/prism-toolbar.min.js" th:src="@{js/prism-toolbar.min.js}"></script>
    <script src="../static/js/prism-copy-to-clipboard.min.js"
            th:src="@{js/prism-copy-to-clipboard.min.js}"></script>


    <!-- Theme JS -->
    <script src="../static/js/theme.min.js" th:src="@{js/theme.min.js}"></script>

</div>

</html>