<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::base_head}">
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body class="pt-0 d-flex flex-column min-vh-100">

<!-- Page Content -->

<div class="container d-flex flex-column wrapper flex-grow-1">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="mt-4">
                <a th:href="@{/proger}">
                    <img class="logo" th:src="@{/images/logo.svg}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center g-0 py-lg-22 py-10">
        <!-- Docs -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
            <h1 class="display-3 mb-2 fw-bold" th:text="${title}">Заголовок</h1>
            <h2 class="mb-5 fw-medium" th:text="${message}"> Сообщение </h2>

            <hr class="my-5">
            <div>
                <h3 class="mb-3  d-flex justify-content-center">Перейти на главную страницу</h3>

                <a th:href="@{/proger}" class="btn btn-success d-flex justify-content-center" >На главную</a>
            </div>

        </div>
    </div>

</div>

<!--Footer-->
<div th:replace="~{fragments/footer::base_footer}"></div>
<!-- Scripts -->
<div th:replace="~{fragments/scripts::base_script}"></div>
</body>
</html>