<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::base_head}">
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Navbar-->
<div th:replace="~{fragments/navbar::base_navbar}"></div>

<!--Content-->
<div class="pt-5 pb-5 flex-grow-1">
    <div class="container">

        <!-- User info -->
        <div th:replace="fragments/profile-info::page"></div>

        <!-- Content -->
        <div class="row mt-0 mt-md-4">
            <!--User-menu-->
            <div th:replace="fragments/profile-menu::menu"></div>

            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">
                            Удалить учетную запись
                        </h3>
                        <p class="mb-0">
                            Удалить свою учетную запись навсегда.
                        </p>
                    </div>
                    <!-- Card body -->
                    <div class="card-body p-4">
                        <span class="text-danger h4">
                            Предупреждение
                        </span>
                        <p>
                            Если вы удалите свою учетную запись, вы потеряете доступ к своему аккаунту навсегда.
                        </p>
                        <form th:method="DELETE" th:action="@{/proger/profile/delete}" onsubmit="confirm('Удалить учетную запись?')">
                            <input class="btn btn-outline-danger btn-sm" type="submit" value="Удалить мою учетную запись" onclick="myFunction()"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer::base_footer}"></div>
<!-- Scripts -->
<div th:replace="~{fragments/scripts::base_script}"></div>
</body>
</html>