<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::base_head}">
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body class="pt-0 d-flex flex-column min-vh-100">

<div class="container d-flex flex-column wrapper flex-grow-1">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="mt-4">
                <a th:href="@{/proger}">
                    <img class="logo" th:src="@{/images/logo.svg}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center g-0 py-lg-22 py-10">
        <!-- Docs -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
            <h1>Смена аватара</h1>

            <form th:method="put" th:action="@{/proger/profile/update-avatar}" enctype="multipart/form-data">
                <input class="form-control" type="file" name="file"><br><br>
                <input class="btn btn-dark-success mw-lg-30 mx-0" type="submit" value="Поменять">
            </form>
            

        </div>
    </div>

</div>





<!--Footer-->
<div th:replace="~{fragments/footer::base_footer}"></div>
<!-- Scripts -->
<div th:replace="~{fragments/scripts::base_script}"></div>
</body>
</html>